@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <button id="send-json" class="btn btn-success btn-lg">Send json request via 'fetch'</button>
    </div>

@section scripts{
    <script>
        document.getElementById("send-json").addEventListener("click", () => {
            fetch('@Url.Action("Json")', {
                method: "post",
                cache: "no-cache",
                body: JSON.stringify({
                    message: "Hello json!"
                })
            })
        });
    </script>
}