@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <button id="ajax" class="btn btn-success btn-lg">Do ES Ajax call</button>
    </div>

@section scripts{
    <script>
        document.getElementById("ajax").addEventListener("click", () => {
            fetch('@Url.Action("Ajax")', {
                method: "post",
                cache: "no-cache",
                body: JSON.stringify({
                    message: "Hello ajax!"
                })
            })
        });
    </script>
}